* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Inter Tight", sans-serif;
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  position: relative;
}

.container_box {
  position: relative;
}
.logo {
  font-size: 30px;
}
.navbox {
  display: flex;
  flex-wrap: wrap;
  padding-right: 80px;
  padding-left: 80px;
}
.navbar {
  display: flex;
  align-items: center;
  list-style: none;
  padding-top: 30px;
  position: absolute;
  z-index: 1;
}
.navbar a {
  text-decoration: none;
  padding: 20px;
}
.navbar a:hover {
  font-weight: bold;
}
li {
  text-decoration: none;
}
.navbar i li {
  display: inline-block;
}
.icons_bar {
  float: right;
  margin-top: -40px;
  z-index: 10;
}
.icons_bar i {
  padding: 20px;
}
.intro {
  background-color: yellow;
  position: relative;
  width: 39.5%;
  display: inline-block;
  height: 80vh;
}
.intro_box {
  display: inline-block;
}
.heading {
  padding-top: 200px;
  height: 50vh;
  font-size: 50px;
}
.heading p {
  font-size: 20px;
  padding-top: 50px;
}
.intro {
  padding-right: 80px;
  padding-left: 80px;
}
.image {
  width: 50%;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  height: 80vh;
}
.icons {
  display: inline-block;
  position: absolute;
  z-index: 1;
  right: 0;
  top: 30px;
}
.icons i {
  padding-right: 50px;
  font-size: 20px;
}
/* =========UNIVERSITIES========== */
.universities {
  padding: 80px;
}
.flag_box {
  font-size: 20px;
}
.card {
  display: inline-block;
  width: 15%;
  margin: 10px;
  padding: 40px;
  font-size: 12px;
  margin-top: 40px;
}
.card:hover {
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.108);
  transition: 0.3s;
  border-radius: 10px;
}
.flag_img {
  width: 10%;
}
.uni_logo {
  width: 100%;
  padding: 20px;
}
.details {
  width: 30%;
  display: inline-block;
  text-align: center;
}
.middle {
  border-right: 1px solid black;
  border-left: 1px solid black;
}
.profile {
  padding-top: 20px;
}
.profile_img {
  width: 7%;
  border: 1px solid black;
  border-radius: 50%;
}
.one,
.two,
.three,
.four {
  margin-right: -10px;
}
.profile span {
  margin-left: 10px;
}
.profile_left {
  float: left;
}
.profile_right {
  float: right;
  margin-top: -19px;
}

/* =======SERVICES========= */
.services {
  background-color: rgba(128, 128, 128, 0.111);
  padding: 80px;
}
.heading2 {
  font-size: 30px;
}
.heading2 span {
  font-weight: bold;
}
.services_card {
  width: 18%;
  margin: 20px;
  display: inline-block;
  padding: 15px;
  background-color: #fff;
  border-radius: 10px;
}
.icon {
  float: right;
}
.services_card a {
  border: 1px solid yellow;
}
.services_card:hover {
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.108);
  transition: 0.3s;
}
.service_btn_class {
  margin-top: 40px;
  margin-bottom: 40px;
}
.service_btn {
  padding: 12px;
  text-decoration: none;
  border-radius: 10px;
}
.service_btn:hover {
  background-color: yellow;
}
/* ==========ambassador========== */
.ambassador {
  padding: 80px;
}
.ambassador_card {
  padding: 20px;
}
.ambassador_card:hover {
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.108);
  transition: 0.3s;
  border-radius: 10px;
}
.ambassador_img {
  display: inline-block;
  width: 15%;
}
.ambassador_img img {
  width: 100%;
  border-radius: 50%;
  border: 1px solid violet;
}
.flag_img {
  width: 10%;
}
.ambassador_details {
  display: inline-block;
  width: 70%;
  padding-left: 20px;
}
.box {
  display: inline-block;
  width: 25%;
  margin: 40px;
}

/* =======TESTIMONY========== */
.testimony {
  background-color: rgba(128, 128, 128, 0.111);
  padding: 80px;
}

.testimony_card {
  width: 40%;
  display: inline-block;
  margin-left: 70px;
  margin-top: 40px;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
}
.testimony {
  display: inline-block;
}
.testimony_img {
  width: 50%;
  border-radius: 50%;
}
.test_img {
  width: 20%;
  display: inline-block;
}
.test_details {
  width: 70%;
  display: inline-block;
}
.box2 {
  margin-top: 40px;
}

/* ========socials======== */

.socials {
  background-color: black;
  color: white;
  padding: 40px;
  margin: 0;
  text-align: center;
}

.socials_container img {
  width: 3%;
}
.socials_container_heading {
  display: inline-block;
}
.input {
  padding-top: 20px;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 20px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.submit_btn {
  padding-top: 20px;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 20px;
  margin: -10px;
  z-index: 1;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.socials_container span {
  padding-left: 10px;
}
.socials_container_heading {
  margin-top: 10px;
}
.socials_container_img {
  margin-left: 5px;
  margin-right: 5px;
}

/* ==========CONTACT US============ */

.col-1-of-5 {
  width: 17%;
  float: left;
  padding-top: 80px;
}
.address {
  overflow: auto;
  background-color: yellow;
  padding: 80px;
}
.col-1-of-5 ul {
  list-style: none;
}
.col-1-of-5 a {
  text-decoration: none;
}
.phone {
  padding-top: 40px;
  padding-bottom: 40px;
}
.email {
  padding-bottom: 150px;
}
.col-1-of-5 li {
  margin-top: 10px;
  margin-bottom: 10px;
}
